<h1>Listing itypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itypes.each do |itype| %>
  <tr>
    <td><%= itype.name %></td>
    <td><%= link_to 'Show', itype %></td>
    <td><%= link_to 'Edit', edit_itype_path(itype) %></td>
    <td><%= link_to 'Destroy', itype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Itype', new_itype_path %>
